*, *::after, *::before {
    box-sizing: border-box;
    background-image: url("./main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    overflow: hidden;
}

.title {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    inset: 0;
    margin: 0;
    flex-direction: column;
}

.subtitle {
    margin-top: .5rem;
    color: red;
    font-size: 40px;
    background-image: none;
    font-weight: 800;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hide {
    display: none;;
}

.walletDiv {
    margin-top: 1rem;
    margin-left: 85%;
    position: absolute;
    z-index: 10;
}

.wallet {
    position: absolute;
    z-index: 10;
    color: white;
    background-image: none;
    background-color: rgb(224, 69, 2);
    border-radius: 0.5rem;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
}

.scores {
    position: relative;
    margin-top: 1 rem;
    margin-left: 3%;
    color: white  ;
    /* z-index: 10; */
}

.bird {
    --bird-size: 120px;
    --bird-top: -1000;
    z-index: 10;
    /* position: relative; */
    /* background-color: orange; */
    /* background-image: url("./real-bg\ \(2\).png"); */
    background-image: url("./whyAreYouGay.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
    /* border-radius: 50%; */
}

.pipe {
    /* --pipe-width : 100; */
    /* --pipe-left: 100;
    --hole-top: 500; */
    /* --hole-height: 140; */
    position: absolute;
    background:none;
    top: 0;
    bottom: 0;
    z-index: 9;
    width: calc(var(--pipe-width) * 1px);
    left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
    position: absolute;
    width: 100%;
    /* background-color: rgb(4, 178, 42); */
    background-image: url("./pride-flag.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pipe > .top {
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
    bottom: 0;
    top: calc(100vh - var(--hole-top) * 1px + calc(var(--hole-height) * 1px));
}